<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TWK.Prompter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TWK.Prompter.Properties.Settings>
            <setting name="DefaultSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedUpKey" serializeAs="Xml">
                <value>
                    <Key>D</Key>
                </value>
            </setting>
            <setting name="SpeedDownKey" serializeAs="Xml">
                <value>
                    <Key>A</Key>
                </value>
            </setting>
            <setting name="BiggerKey" serializeAs="Xml">
                <value>
                    <Key>None</Key>
                </value>
            </setting>
            <setting name="SmallerKey" serializeAs="Xml">
                <value>
                    <Key>None</Key>
                </value>
            </setting>
        </TWK.Prompter.Properties.Settings>
    </userSettings>
</configuration>